.page-header {
    margin-top: 0%;
}

body {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.container-fluid {
    background-color: white;
    margin-bottom: 0%;
}

.page-header {
    background-color:white;
    margin-bottom: 0px;
}

.navbar {
    margin-top: 0px;
}

figcaption {
    text-align: center;
    font-size: 14pt;
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}